main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.info {
  background-color: green;
  color: white;
}

.erro {
  color: red;
}


.mudarCursorMouseBlock{
  cursor:no-drop;
}

.mudarCursorMouseDefault{
  cursor:default;
}
